<%= form_for([@setting, @setting.triggers.build]) do |f| %>
  <div class="field">
    <%= f.label :interval %>
    every <%= f.select :interval, options_for_select(1..30)%> days
  </div>
  <div class="field">
    <%= f.label :action %>
    <%= f.select :action, options_for_select([['Send mail', :send_mail],['Delete old', :delete_old]]) %>
  </div>
  <div class="field">
    <%= f.label :time_treshold %>
    <%= f.number_field :time_treshold %>
  </div>
  <div class="field">
    <%= f.label :total_treshold %>
    <%= f.number_field :total_treshold %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
