  <p>
    <b>When:</b>
    every <%= trigger.interval %> days
  </p>
  <p>
    <b>Action:</b>
    <%= trigger.action %>
  </p>
  <p>
    <b>Time treshold:</b>
    for orders older than <%= trigger.time_treshold %> days
  </p>
  <p>
    <b>Total treshold:</b>
    <%= trigger.total_treshold %>kn
  </p>
  <p>
  <%= link_to 'Destroy trigger', [trigger.setting, trigger],
              :confirm => 'Are you sure?',
              :method => :delete %>
  <%= link_to 'Edit trigger', edit_setting_trigger_path(trigger.setting, trigger) %>

  </p>
